<section class="inroad">
  <div class="section ">
    <div class="indexfondo">
      <div class="container bienvenido">
        <h1 class="title">Bienvenido a {{title}}</h1>
        <h2 class="subtitle">
          Un lugar para encontrar <strong>chambitas</strong>, facilmente!
        </h2>
      </div>
      <br>
      <br>
      <div class="botonesindex">
        <div class="boton-1-index">
          <a href="/login" class="button is-link is-rounded">Inicia sesion</a>
        </div>
        <br><br>
        <div>
          <a href="/signup" class="button is-link is-rounded">Registrate</a>
        </div>
      </div>
    </div>

  </div>
</section>